* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
body h2 {
  font-size: 48px;
  margin-bottom: 36px;
  margin-block: unset;
}
body h3 {
  font-size: 32px;
  font-weight: 600;
}
body h4 {
  font-weight: 500;
  font-size: 20px;
  margin-block: 16px;
}
body h5 {
  font-size: 16px;
}

.header {
  background-color: #f5f5f5;
}
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 4px;
}
.header__menuWrapper {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  gap: 12px;
}

.nav {
  background-color: white;
}
.nav .wrapper {
  display: flex;
  justify-content: space-between;
}
.nav__menuWrapper {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav__menuWrapper__Option {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav__logo svg {
  display: block;
  width: 60px;
  height: 60px;
}

.container {
  max-width: 1848px;
  margin-inline: auto;
  padding-inline: 24px;
}

.button {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 8px 20px;
  border-radius: 24px;
}
.button--res--plu {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 8px 20px;
  border-radius: 24px;
}
.button--res--dis {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  background-color: unset;
  color: #f5f5f5;
  font-size: 20px;
}
.button--type--text {
  font-weight: 600;
  font-size: 16px;
  background-color: unset;
  color: #111111;
  text-decoration: underline;
  margin: 0;
}
.button--type--searchbar {
  width: 180px;
  height: 40px;
  color: #cccccc;
  padding-left: 48px;
  padding-top: 6px;
  text-align: left;
  border-radius: 24px;
  background-color: #f5f5f5;
}

.notice {
  background-color: #f5f5f5;
  font-size: 16px;
  padding-block: 8px 4px;
  display: flex;
}
.notice .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notice .button--type--text {
  font-size: 12px;
}

.title p {
  margin-block: 16px;
}
.title .main__media {
  margin-bottom: 48px;
  overflow: hidden;
}
.title .main__media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.title .main__text {
  text-align: center;
  margin-inline: auto;
}
.title .main__text__buttonContainer {
  margin-top: 24px;
  align-items: center;
}
.title .main__text__buttonWrapper {
  display: flex;
  justify-content: center;
  margin-block: 48px 24px;
  gap: 8px;
}
.title .main__text__buttonWrapper__plu {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.ctsbar {
  margin-block: 48px 144px;
}
.ctsbar .main__media {
  overflow: hidden;
}
.ctsbar .main__media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ctsbar .main__text {
  display: flex;
  margin-block: 48px;
  gap: 12px;
}
.ctsbar .main__text__imgWrapper__text {
  text-align: left;
  margin-top: 48px;
}
.ctsbar .main__text__buttonWrapper {
  display: flex;
  justify-content: left;
  gap: 8px;
  margin-top: 36px;
}

.ctsbar2 {
  margin-block: 48px 144px;
}
.ctsbar2 img {
  -o-object-fit: cover;
     object-fit: cover;
}
.ctsbar2 .main__media {
  overflow: hidden;
}
.ctsbar2 .main__text {
  display: flex;
  margin-block: 48px;
  gap: 12px;
}
.ctsbar2 .main__text__imgWrapper__text {
  text-align: left;
  margin-top: 48px;
}
.ctsbar2 .main__text__buttonWrapper {
  display: flex;
  justify-content: left;
  gap: 8px;
  margin-top: 36px;
}

.footer {
  margin-inline: 0;
  padding-block: 36px 120px;
  background-color: #111111;
  color: white;
}
.footer a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  color: #747474;
}
.footer li {
  list-style: none;
  margin-bottom: 12px;
}
.footer h4 {
  font-size: 16px;
  color: white;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  margin-inline: 24px;
}
.footer .column__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
}
.footer .column__socialWrapper {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

@media (width < 75rem) {
  .nav__menu__thi {
    display: none;
  }
}
@media (width < 70rem) {
  .nav__menu__sec {
    display: none;
  }
}
@media (width < 65rem) {
  .nav__menu__fir {
    display: none;
  }
}
@media (width > 52.5rem) {
  .hide {
    display: none;
  }
  .button--res--plu {
    display: none;
  }
  .addbar {
    display: none;
  }
}
@media (width < 52.5rem) {
  * {
    text-align: left;
  }
  p {
    text-align: left;
    margin-block: 16px;
  }
  h3 {
    word-break: keep-all;
  }
  img {
    max-width: 360px;
    height: auto;
  }
  .header {
    display: none;
  }
  .nav__menuWrapper__Option {
    display: none;
  }
  .nav__menu {
    display: none;
  }
  .addbar {
    display: flex;
  }
  .main__media__qrcode {
    display: none;
  }
  .main__text__buttonWrapper {
    margin-block: 0;
  }
  .button--res--sub {
    display: none;
  }
  .button--res--plu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #ftrimg .wrapper {
    display: flex;
    justify-content: center;
  }
  #ftrimg .main__media {
    aspect-ratio: 3/4;
  }
  .footer .wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer .column2 {
    display: none;
  }
  .footer .column3 {
    display: none;
  }
}