@charset "UTF-8";
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "cube";
  src: url(../fonts/a큐브.ttf) format("truetype");
}

$min-height: 2rem;
$padding-inline-value: 2rem;
$wrapper-padding-inline: 2rem;
// $progressBar-height: 0.75rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

// 텍스트 관련 설정
body {
  overflow-x: hidden;
  background-color: #c7c7c7;
  font-family: "cube";
  line-height: 1.6;
  color: #222222;
  text-wrap: balance;
  word-break: keep-all;
  font-style: italic;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // -ms-overflow-style: none;
  // ::-webkit-scrollbar {
  //   display: none;
  // }
}

h1 {
  padding-top: 4rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}
h2 {
  font-size: 2.5rem;
  font-weight: 200;
  padding-bottom: 1rem;
}
h3 {
  font-size: 1.75rem;
  font-weight: 200;
}
p {
  font-family: "cube";
  font-size: 1.375rem;
  padding-block: 1rem;
  color: #2d2d2d;
}

.hide {
  display: none;
}

img,
video,
iframe,
svg {
  max-width: 100%;
  overflow: hidden;
}

prologue {
  background-color: #f3f3f3;
  text-align: center;
  p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}
#prologue0 {
  margin-inline: 0;
  padding-block: 9rem 4rem;
  color: white;
  background-color: #222222;
  // 옵저버 필요x
  .animTarget {
    animation: fadeIn 2s ease-in forwards, slideIn_down 3s ease-out forwards;
  }
}
#prologue1 {
  padding-block: 2rem;
  background-color: #2d2d2d;
  .container {
    // overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: unset;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(30%, 240px);
    height: max(60vh, 560px);
    margin-inline: auto;
    border-radius: 0.75rem;
    margin: 1rem;
    background-color: #f7f7f7;
    h3 {
      padding-top: 1.5rem;
    }
    p {
      padding-inline: 1rem;
      color: #555555;
    }
  }
  // 옵저버 필요x
  .animTarget {
    animation: fadeIn 2.5s ease-in-out forwards, slideIn_up 3s ease-out forwards;
  }
}
#prologue2 {
  padding-block: 3rem;
  color: #888888;
  background-color: #383838;
  h3 {
    padding-top: 0.5rem;
    color: #f3f3f3;
  }
  .grad1 {
    min-height: 700px;
    background: linear-gradient(to bottom, #383838, #111111);
  }
  .grad2 {
    min-height: 600px;
    background: linear-gradient(to bottom, #111111, #383838);
  }
  p {
    color: #888888;
  }
  .animTarget {
    transform: translateY(0);
  }
  .triggered {
    .animTarget {
      animation: slideIn_down 1s ease-out forwards, fadeIn 1s ease-in forwards;
    }
  }
}

.switch {
  margin: 0;
  padding: 0;
  // background-color: #d60000;
  display: flex;
  justify-content: center;
}

.chapter--begin {
  margin-inline: auto;
  text-align: center;
  background-color: #383838;
  padding-block: 6rem;
  color: white;
  &--first {
    background-color: #383838;
    padding-bottom: 3.5rem;
    color: white;
  }
  &--typo {
    text-align: center;
    background-color: #c6cc93;
    padding-block: 3rem;
    color: #383838;
    &.triggered {
      .animTarget {
        animation: fadeIn 1.5s ease-in-out forwards;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: min(80%, 1100px);
  background-color: #f3f3f3;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--dialog {
      overflow: hidden;
      background-image: url("../img/texture/tex_vintage.jpg");
      background-position: center;
      padding-inline: 16rem;
      padding-block: 10rem;
      margin-bottom: 4rem;
      text-align: center;
      color: rgb(36, 36, 36);
      h2 {
        padding-block: 0;
      }
    }
    &--card {
      display: flex;
      align-items: center;
      overflow: scroll;
      margin-bottom: 12rem;
    }
    &--card--content {
      position: relative;
      text-align: right;
      min-width: 60%;
      margin-inline: 0.5rem;
      h3 {
        position: absolute;
        padding: 0;
        font-size: 3.5rem;
        color: #ffffff;
        bottom: 1rem;
        right: 2rem;
      }
      p {
        position: absolute;
        padding: 0;
        color: #ffffff;
        bottom: 5.4rem;
        right: 2rem;
      }
      img {
        border-radius: 16px;
      }
    }
  }
  p {
    padding-block: 2rem 6rem;
    padding-inline: 3.5rem;
  }
}

.stickyWrapper {
  display: grid;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
}

main {
  z-index: 1;
  grid-column: 1 / span 2;
  grid-row: 1;
  text-align: center;
}

// Key Animation
#s1 {
  &--1 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_up 0.75s ease-out forwards,
          fadeIn 1.5s ease-out forwards;
      }
    }
  }
  &--2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 2s ease-out forwards;
      }
    }
  }
  &--3 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_up 1.5s ease-out forwards,
          fadeIn 1.5s ease-out forwards, wigglepos 1.5s ease-out forwards;
      }
    }
  }
  &--4 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
}
#s2 {
  &--1 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 2.5s ease-out forwards;
      }
    }
  }
  &--2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1.5s ease-out forwards,
          fadeIn 2s ease-out forwards;
      }
    }
  }
  &--3 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 2s ease-out forwards,
          fadeIn 2s ease-out forwards;
      }
    }
  }
}
#s3 {
  &--1 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_up 2s ease-out forwards,
          fadeIn 1.5s ease-out forwards;
      }
    }
  }
  &--2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_left 1.5s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--3 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_right 1.5s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--4 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
  &--5 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_up 1s ease-out forwards, fadeIn 1s ease-out forwards;
      }
    }
  }
  &--6 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1.5s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
}
#s4 {
  &--1 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_up 2s ease-out forwards,
          fadeIn 1.5s ease-out forwards;
      }
    }
  }
  &--2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_left 1.5s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--3 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 1.5s ease-out forwards;
      }
    }
  }
  &--4 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
}
#s5 {
  &--1 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_right 1s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
  &--2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 2s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--3 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_right 1.5s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--4 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
  &--5 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_right 1s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
  &--6 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1s ease-out forwards,
          fadeIn 0.75s ease-out forwards;
      }
    }
  }
  &--7 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1.5s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
}
#s6 {
  &--1 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 1s ease-in forwards;
      }
    }
  }
  &--2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 2s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--3 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_left 1.25s ease-out forwards,
          fadeIn 0.75s ease-out forwards;
      }
    }
  }
  &--4 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1.25s ease-out forwards,
          fadeIn 0.75s ease-out forwards;
      }
    }
  }
  &--5 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1.5s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
}
#s7 {
  &--1 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 2s ease-in-out forwards;
      }
    }
  }
  &--2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: wigglepos 1.5s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--2-2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_up 0.75s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--3 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_up 0.75s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--3-2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 1s ease-out forwards;
      }
    }
  }
  &--4 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_up 1.5s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
  &--5 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_left 1.5s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--6 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1.5s ease-out forwards,
          fadeIn 2s ease-out forwards;
      }
    }
  }
  &--7 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: wigglepos 1.25s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
  &--8 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: wigglepos 0.75s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--9 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 2s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
  &--10 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 2s ease-out forwards;
      }
    }
  }
  &--11 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_left 1s ease-out forwards,
          fadeIn 2s ease-out forwards;
      }
    }
  }
  &--12 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 2s ease-out forwards;
      }
    }
  }
  &--13 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 2s ease-out forwards;
      }
    }
  }
  &--14 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: wigglepos 1s ease-out forwards, fadeIn 1.5s ease-out forwards;
      }
    }
  }
}
#s8 {
  &--1 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 1s ease-out forwards;
      }
    }
  }
  &--2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 2s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
  &--2-2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
  &--2-2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
  &--3 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_up 0.75s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--3-2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 1s ease-out forwards;
      }
    }
  }
  &--4 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_up 1.5s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
  &--5 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_left 1.5s ease-out forwards,
          fadeIn 0.5s ease-out forwards;
      }
    }
  }
  &--6 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1s ease-out forwards,
          fadeIn 2s ease-out forwards;
      }
    }
  }
  &--7 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_down 1s ease-out forwards,
          fadeIn 1s ease-out forwards;
      }
    }
  }
  &--8 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 2s ease-out forwards;
      }
    }
  }
  &--9 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 1s ease-out forwards;
      }
    }
  }
  &--10 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 2s ease-out forwards;
      }
    }
  }
}
#s9 {
  &--1 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 2s ease-out forwards;
      }
    }
  }
  &--2 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 2s ease-out forwards;
      }
    }
  }
  &--3 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_up 1s ease-out forwards, fadeIn 1s ease-out forwards;
      }
    }
  }
  &--4 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: slideIn_up 1s ease-out forwards, fadeIn 1s ease-out forwards;
      }
    }
  }
  &--5 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 1.25s ease-out forwards;
      }
    }
  }
  &--6 {
    .animTarget {
      opacity: 0;
    }
    &.triggered {
      .animTarget {
        opacity: 1;
        animation: fadeIn 2s ease-out forwards;
      }
    }
  }
}

aside {
  position: sticky;
  z-index: 3;
  top: 0;
  grid-column: 1;
  grid-row: 1;
  width: 140px;
  height: max(100dvh, $min-height);
  padding-inline: 1rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  background-color: rgba(56, 56, 56, 85%);
  backdrop-filter: blur(0.25rem);
  font-size: 0.875rem;
  text-decoration: none;
  list-style: none;
  h3 {
    color: #d1d1d1;
    font-family: "cube";
    font-size: 1.2rem;
    list-style: none;
    margin-block: 2rem 1rem;
  }
  ol {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    list-style: none;
    li {
      display: flex;
      flex-direction: row;
      text-align: left;
      padding-left: 0.125rem;
      padding-block: 0.25rem;
      color: #c4c4c4;
      font-weight: 500;
    }
  }
  a {
    text-decoration: none;
  }
}

// .progressBar {
//   position: sticky;
//   z-index: 2;
//   top: 0;
//   grid-column: 1 / span 2;
//   grid-row: 1;
//   width: 100%;
//   height: $progressBar-height;
//   background-color: rgba(64 64 64);
// }

@keyframes slideIn_up {
  from {
    transform: translate(0, 2.5rem);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slideIn_down {
  from {
    transform: translate(0, -2rem);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slideIn_left {
  from {
    transform: translate(-2.5rem, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slideIn_right {
  from {
    transform: translate(2.5rem, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    transform: opacity(1);
  }
}
@keyframes wigglerot {
  0% {
    transform: rotateZ(10);
  }
  8% {
    transform: rotateZ(-9deg);
  }
  16% {
    transform: rotateZ(7deg);
  }
  24% {
    transform: rotateZ(-6deg);
  }
  32% {
    transform: rotateZ(4deg);
  }
  40% {
    transform: rotateZ(-3deg);
  }
  60% {
    transform: rotateZ(2deg);
  }
  80% {
    transform: rotateZ(-1deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@keyframes wigglepos {
  0% {
    transform: translate(20px, 15px);
  }
  8% {
    transform: translate(-17px, -12px);
  }
  17% {
    transform: translate(14px, 9px);
  }
  25% {
    transform: translate(-10px, 7px);
  }
  40% {
    transform: translate(6px, -6px);
  }
  55% {
    transform: translate(3px, 3px);
  }
  75% {
    transform: translate(-1px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (width < 70rem) {
  .container {
    overflow: hidden;
    width: min(80vh, 1100px);
    margin-inline: auto;
  }
  #prologue1 {
    .container {
      overflow: visible;
      width: min(70vh, 1100px);
      margin-inline: auto;
    }
  }
  .chapter--begin {
    padding-top: 10rem;
  }
}

@media (width < 70rem) {
  .stickyWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
  main {
    grid-column: 1;
    grid-row: 3;
  }
  aside {
    // top: calc(-1px + $progressBar-height);
    border-radius: 0 0 12px 12px;
    display: grid;
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: fit-content;
    padding-block: 0.5rem 1rem;
    padding-inline: unset;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    h3 {
      margin: 0;
      padding-inline: 2rem;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    ol {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 2rem;
      padding-block: 0;

      // a:first-of-type li {
      //   margin-left: $wrapper-padding-inline;
      // }
      // a:last-of-type li {
      //   margin-right: $wrapper-padding-inline;
      // }
    }
  }
  // .progressBar {
  //   top: -1px;
  //   grid-column: 1;
  //   grid-row: 1;
  // }
}

#section9 {
  .container {
    background-color: #222222;
    padding-bottom: 12rem;
  }
  .wrapper {
    padding-block: 8rem;
    display: block;
    justify-content: center;
  }
  .grad1 {
    width: 100%;
    min-height: 1200px;
    background: linear-gradient(to bottom, #f3f3f3, #222222);
  }
  .solid {
    width: 100%;
    min-height: 400px;
    background-color: #222222;
  }
  h3 {
    padding-block: 8rem;
    color: white;
  }
  #logo {
    max-width: 80%;
  }
}
